<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      LiveReactIslands Vite Example
    </.live_title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <%= if css = vite_css_entry() do %>
      <link rel="stylesheet" href={css} />
    <% end %>
    <%= if Application.get_env(:vite_example, :dev_routes, false) do %>
      <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
      <script type="module" src="http://localhost:5173/@vite/client"></script>
    <% end %>
    <script type="module" src={vite_js_entry()}></script>
  </head>
  <body class="bg-slate-100 dark:bg-slate-900">
    <%= @inner_content %>
  </body>
</html>
