name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Enable Corepack
        run: |
          corepack enable
          corepack prepare yarn@4.2.2 --activate

      - name: Get Yarn Cache Path
        id: yarn-cache
        run: echo "path=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - name: Yarn Cache (Manual)
        uses: actions/cache@v4
        with:
          path: ${{ steps.yarn-cache.outputs.path }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: yarn install --immutable
      - run: yarn build:js
      - run: yarn test:js

  test-elixir:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          elixir-version: "1.18"
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - run: corepack enable
      - run: corepack prepare yarn@4.2.2 --activate
      - run: yarn test:elixir
